.mainbox{
  display: flex;
  flex-direction: column;

}
.left1{
  display: flex;
  height: 50px;;
 flex-wrap: wrap;
  color: black;
  font-size: 18px;
  justify-content:space-around;
  align-items: center;
  flex-grow: 1;
}

.checkout{

  cursor: pointer;
  background-color: #009688;
  color: white;
  font-size: 18px;
  margin-top: 8px;
  border: 1px solid white;
  width: 200px;
  height: 50px;

}

.checkout:hover{
  background-color: white;
  color: #009688;
  border: 1px solid #009688;
  transition: 0.5s
}


.card{
    display: flex;
    cursor: pointer;
  flex-direction: column;

    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 400px;
    margin-top: 10px;
    width: 100%;
    margin-right: 10px;
    margin-left: 15px;
   
}
.load{
    background: #34495e;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "montserrat",sans-serif;
}
.m{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 2;
}
.content{
  margin: 8px;
  padding: 8px;
   background-color: #f50057;
   color: white;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    flex-grow: 2;
    justify-content: space-evenly;
    align-items: center;
}

.btn{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    
  }
  .cart-btn{
    background-color: #2196f3;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid white;
    cursor: pointer;
    width: 250px;
    height: 40px;
  }
  
  .cart-btn:hover{
    background-color:white;
    color: #2196f3;
    transition: 0.8s;
    border: 1px solid #2196f3;
  }
  
  .buy-btn{
    background-color:#e53935;
    color: white;
    font-size: 18px;
    border: 1px solid white;
    cursor: pointer;
    width: 150px;
    height: 40px;
  }
  .buy-btn:hover{
    background-color: #d32f2f;
    transition: 0.3s;
  }

  .empty-cart{
    display: flex;
    border: 1px solid black;
    width: 400px;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: column;
    margin: 15px;
    padding: 15px;;
  }
  .head{
    flex-grow: 1;
  }
  img{
    height: 200px;
  }
  .img1{
    flex-grow: 1;
  }
  .btn6{
    flex-grow: 1;
  }

  .embtn{
    margin: 12px;
    background-color: white;
    color: blue;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
  }

  .embtn:hover{
    color: red;
    transition: 0.8s


  }