.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin:10px;
    padding: 10px;
}
.f1,.f2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
    padding: 10px;

}
.f1 h3{

    color: orangered;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 8px;
    padding: 5px;
}
.f1 h5{

    text-decoration: none;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 8px;
    padding: 5px;
}
.f2 p{
    margin: 5px;
    padding: 2px;
}

.f2 .btn{

    width: 200px;
    height: 40px;
    background-color: white;
    border: 1px solid white;
    color: brown;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-transform: uppercase;
    margin: 5px;
}
.f2 .btn:hover{

    color: blueviolet;
    transition: 0.8s

}